Repository studiohyperdrive/tools, pull requests merged in 2024-03, with the labels that each got.

#4 feat(regex-common): Set up the regex-common package with a first BE phone pattern set
  package.json
  packages/regex-common/.eslintrc.json
  packages/regex-common/README.md
  packages/regex-common/docs/patterns/regional/be-phone-bin-formatted.md
  packages/regex-common/package-lock.json
  packages/regex-common/package.json
  packages/regex-common/project.json
  packages/regex-common/src/index.ts
  packages/regex-common/src/lib/index.ts
  packages/regex-common/src/lib/patterns/index.ts
  packages/regex-common/src/lib/patterns/regional/be-phone-bin-formatted/be-phone-bin-formatted.spec.ts
  packages/regex-common/src/lib/patterns/regional/be-phone-bin-formatted/be-phone-bin-formatted.ts
  packages/regex-common/src/lib/patterns/regional/index.ts
  packages/regex-common/tsconfig.json
  packages/regex-common/tsconfig.lib.json
  packages/regex-common/tsconfig.spec.json
  packages/regex-common/vite.config.ts
  tsconfig.base.json
Labels: enhancement

#5 fix(populate): Fix issue with readonly properties
  packages/rxjs-utils/package.json
  packages/rxjs-utils/src/lib/operators/populate/populate.operator.ts
Labels: bug, rxjs-utils

#6 feat(rxjs-utils): Add fetchIf operator
  packages/rxjs-utils/README.md
  packages/rxjs-utils/docs/operators/fetch-if/fetch-if.operator.md
  packages/rxjs-utils/package.json
  packages/rxjs-utils/src/lib/operators/fetch-if/fetch-if.operator.md
  packages/rxjs-utils/src/lib/operators/fetch-if/fetch-if.operator.spec.ts
  packages/rxjs-utils/src/lib/operators/fetch-if/fetch-if.operator.ts
  packages/rxjs-utils/src/lib/operators/index.ts
  tsconfig.base.json
Labels: enhancement, rxjs-utils
